.card {
    width: 25rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px
}

.vibrate {
    animation: vibrate 0.3s infinite both;
}

@keyframes vibrate {
    1% {
        transform: rotate(-12deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(12deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-12deg);
    }
}

@media (max-width: 500px) {
    .card {
        width: 100% !important;
        height: 100vh;
        margin: 0 !important;
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }
}