.vibrate {
    animation: vibrate 0.3s infinite both;
}

@keyframes vibrate {
    1% {
        transform: rotate(-12deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(12deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-12deg);
    }
}